[Unit]                               
Description=Bar app for Sway
                                     
DefaultDependencies=no
After=sway-session.target

[Service]
Type=simple
ExecStart=waybar
IOSchedulingClass=idle

[Install]
WantedBy=sway-session.target






