* {
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro", "FontAwesome";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.3);
    color: rgba(210, 210, 210, 1);
}

#window {
    font-weight: bold;
    /* font-family: "Source Code Pro"; */
    margin: 0 10px;
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-top: 4px solid transparent;
}

#workspaces button.focused {
    font-weight: bold;
    color: #0091e6;
    border-top: 4px solid #0091e6;
}

#workspaces button.visible {
    font-weight: bold;
    color: #0091e6;
    /* border-top: 4px solid #0091e6;*/
}

#workspaces button.urgent {
    font-weight: bold;
    color: #ff0000;
    background: rgba(255, 0, 0, 0.2);
    /* border-top: 4px solid #0091e6;*/
}

#workspaces button.urgent.visible {
    font-weight: bold;
    color: #ff0000;
    background: rgba(255, 0, 0, 0.2);
    border-top: 4px solid #ff0000;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

